$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;


@mixin for-tablet {
    @media (min-width: $tablet ) and (max-width: $desktop) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: $desktop) {
        @content;
    }
}
