@import '../../sass/index';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    margin-top: -100px;
}

.containerImg {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;

    @include for-tablet {
        height: 400px;
    }

    @include for-desktop {
        height: 400px;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 121, 186, 0.5);
    pointer-events: none;
}
.containerText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $ligthBlue-color;
  
}

.containerTextItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;

    width: 375px;


    @include for-tablet {
        width: 780px;
    }

    @include for-desktop {
        width: 1280px;
    }
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: $blue-color;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: $text-color;
}

.containerImgText{
    width: 375px;
}

.imgText{
    border-radius: 20px;
}
