@import '../../sass/index';

.container {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 300;
    margin-top: 625px;
}

.img {
    max-width: 150px;
    margin-bottom: 20px;
}

.contactInfo {
    margin-top: 20px;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin: 5px 0;

        a {
            color: #61dafb;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
